*{
    box-sizing: border-box;
    background-color: rgb(242, 166, 202);   
}
main{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 43px;
    margin: 20px;
    border: 20px;
    background-color: rgb(89, 2, 34);

}
h1{
    background-color: rgb(146, 5, 64);
    color: rgb(255, 240, 247);
}
h3{
    color: rgb(231, 58, 118);
}
p{
    color: rgb(231, 58, 118);
}
span{
    color: rgb(231, 58, 118);
}
img{
    width: 100%;
    margin-top: 100px;
    align-items: center;
}