
.div-a{
    text-align: center;
}


.casa-a{
    color: #2b2a47;
    font-size: 20px;
}

.trabalhador-a{
    color: #2b2a47;
    font-size: 20px;
}


main{
    background-color: #424242;
}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
}

.ul-one{
    text-align: center;
    align-items: first baseline;
        font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 23px 0 0;
    cursor: pointer;
    color: #2b2a47;
    transition: opacity 0.3s;
    text-decoration: none;
}

.engenharias{
    display: block;
    width: 100%;
    height: 450px;
    margin: 80px auto 0 auto;
    border-radius: 15px;
}

.link-menu{
    width: 130px;
    height: 38px;
    border-radius: 20px;
    background: #c2c2c2;
    border: none;
    font-size: 20px;
    font-weight: 600;

    .link-menu {
        width: 130px;
        height: 38px;
        border-radius: 20px;
        background: #3d3d3d;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: rgb(227, 231, 235);
        transition: opacity 0.2s;
    }

    color: rgb(227, 231, 235);
    transition: opacity 0.2s;

}


.link-about{
    width: 130px;
    height: 38px;
    border-radius: 20px;
    background: #c2c2c2;
    border: none;
    font-size: 20px;
    font-weight: 600;

    .link-about {
        width: 130px;
        height: 38px;
        border-radius: 20px;
        background: #3d3d3d;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: rgb(227, 231, 235);
        transition: opacity 0.2s;
    }

    color: rgb(227, 231, 235);
    transition: opacity 0.2s;

}


.link-services{
    width: 130px;
    height: 38px;
    border-radius: 20px;
    background: #c2c2c2;
    border: none;
    font-size: 20px;
    font-weight: 600;

    .link-services {
        width: 130px;
        height: 38px;
        border-radius: 20px;
        background: #3d3d3d;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: rgb(227, 231, 235);
        transition: opacity 0.2s;
    }

    color: rgb(227, 231, 235);
    transition: opacity 0.2s;

}


.link-contact{
    width: 130px;
    height: 38px;
    border-radius: 20px;
    background: #c2c2c2;
    border: none;
    font-size: 20px;
    font-weight: 600;

    .link-contact {
        width: 130px;
        height: 38px;
        border-radius: 20px;
        background: #3d3d3d;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: rgb(227, 231, 235);
        transition: opacity 0.2s;
    }

    color: rgb(227, 231, 235);
    transition: opacity 0.2s;

}


.copy-a{
    color: #2b2a47;
}