* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(7, 22, 71);
    font-family: 'Times New Roman', Times, serif;
}

main {
    margin: 20px;
}

h1 {
    color: rgb(207, 245, 255);
    text-align: center;
}

p {
    color: rgb(143, 248, 248);
    margin: 20px;
    
}