*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(39, 16, 0);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 30px;
}

h1{
    color:rgb(191, 255, 165);
    text-align: center;
    margin: 20px;
}

p{
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
    color:rgb(240, 241, 165)
}

strong{
    color:rgb(46, 241, 95)
}
i{
    color:rgb(255, 254, 238)
}
span{
    color:rgb(0, 17, 255);
}